.form__fieldset {
    border: 3px solid #f90011;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.form__legend {
    background-color: #1b445f;
    color: ivory;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;

}

.form__label {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
    font-size: 25px;
}
.form__labelText {
    font-size: 20px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: #1b445f;
    color: ivory;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

}


.form__button:hover {
    background-color: hsl(204, 56%, 44%);
}


.form__button:active {
    background-color: #70add7;
}

.form__button--input {
    background-color: #70add7;
    text-decoration: none;
    padding: 10px;
    font-family: "Open Sans" sans-serif;
  
}

.form__legendText {

    margin-right: 5px;
    font-size: 20px;
}


.form__result {
    text-align: center;
    font-size: 25px;


}